*{
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: "宋体"
}
.leftDiv{
    width:17%;
    background: #282830;
    color: white;
    display: inline-block;
}
.topLeft{
    height: 50px;
    line-height: 50px;
    background: #3d556d;
    font-size: 20px;
    font-family: "微软雅黑"
}
.contentLeft{
    margin-top: 20px;
  /*  padding-left: 18px;*/
    font-size: 18px;

}
.contentLeft li{
   /* height: 30px;*/
    line-height: 10px;
    padding:10px 0;
    border-bottom: solid 2px #2e2e32; 
    cursor: pointer;
}
.contentLeft i:first-child{
    /*float: left;*/
    font-size: 18px;
    margin-right:20px;
    margin-left:10px;
}
.contentLeft i:last-child{
    float: right;
    font-size: 16px;
    margin-right: 10px;
}
.rightDiv{
    float: right;
    display: inline-block;
    width: 83%;
}
.topRight{

    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 18px;
    display: inline-block;
}
.topRight .noticeDiv i{
    font-size: 20px;
    margin-right: 10px;
    margin-left: 20px;
}
.notice{
    position: relative;
    /*background-color: black;*/
}
.noticeNumb{
    position: absolute;
    top: 4px;
    right: 5px;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: white;
    line-height: 18px;
}
.topRight div{
    display: inline-block;
}
.infoDiv{
    float: right;
    margin-right: 70px;
}
.contentRight{
    background: #234522;
    padding: 10px;
    background: #f0f0f0;
    overflow: auto;
}